@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1rem;
}

body {
  // @apply bg-slate-900;
  // @apply bg-black;
  @apply bg-slate-50;
  // @apply text-slate-200;
  @apply text-slate-700;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;

  a {
    // @apply italic text-cyan-400;
    @apply text-rose-500;
  }
}
